<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление коэффициента выполнения плана</title>
</head>
<body>
<form th:method="PUT" th:object="${entry}" th:action="@{/constants/editPlanCompletionEntry}">
    <div>Процент выполнения плана в виде десятичной дроби, от которого начинает действовать коэффициент</div>
    <input type="text" th:field="*{key}">
    <div style="color: red" th:if="${#fields.hasErrors('key')}" th:errors="*{key}">Wrong key</div>
    <br/>
    <div>Коэффициент выполнения плана в виде десятичной дроби</div>
    <input type="text" th:field="*{value}">
    <div style="color: red" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Wrong value</div>
    <input type="submit" value="Добавить">
    <a href="/constants">
        <input type="button" value="Назад">
    </a>
</form>

</body>
</html>